<div *ngIf="router.url !== '/login' && router.url !== '/register' && router.url !== '/order' && router.url !== '/cart' && router.url !== '/address' && router.url !== '/payment' && router.url !== '/seed' && router.url !== '/seed/AllSeeds' && router.url !== '/seed/type1/Monocotyledonous' && router.url !== '/seed/type2/Dicotyledonous' && router.url !== '/plants/AllPlants' && router.url !== '/plants/type1/Herbal' && router.url !== '/plants/type2/Medical' && router.url !== '/planter/shape1/Round'&& router.url !== '/planter/type2/Square' && router.url !== '/planter/AllPlanters' && router.url !== '/viewPlant/plantId'&& router.url !== '/viewseed/seedId'&& router.url !== '/viewPlanter/planterId'" >

<footer class = "footer">
    <div class = "container">
        <div class = "row">             
            <div class = "col-4 offset-1 col-sm-2">
                <h5 class = "links">Links</h5>
                <ul class = "list-unstyled">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class ="col-7 col-sm-5 address">
                <h5>Our Address</h5>
                <address>
                  121, Clear Water Bay Road<br>
                  Clear Water Bay, Kowloon<br>
                  Hyderabad<br>
                  Tel.: +91 891 234 5678<br>
                  Fax: +91 908 765 4321<br>
                  Email: <a href="mailto:nurseryonline@gmail.com">nurseryonline@gmail.com</a>
               </address>
            </div>
            <div class ="col-12 col-sm-4 align-self-center">
                <div class = "text-center">
                    <a class = "icons" href="http://google.com/+"><img src = "\assets\icons8-chrome-48.png" width="25px" height="25px"></a>
                    <a class = "icons" href="http://www.facebook.com/profile.php?id="><img src = "\assets\icons8-facebook-48.png" width="25px" height="25px"></a>
                    <a class = "icons" href="http://www.linkedin.com/in/"><img src = "\assets\icons8-linkedin-48.png" width="25px" height="25px"></a>
                    <a class = "icons" href="http://twitter.com/"><img src = "\assets\icons8-twitter-48.png" width="25px" height="25px"></a>
                    <a class = "icons" href="http://youtube.com/"><img src = "\assets\icons8-youtube-squared-100.png" width="30px" height="30px"></a>
                </div>
            </div>
            
       <div class = "row justify-content-center">             
            <div class= "col-auto">
                <p class = "copyright">© Copyright 2021 My Nursery Application</p>
            </div>
            
       </div>
       
</div>

    </div>
</footer>
</div>
