.footer {
   background-color: black;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}
.address {
    margin:0px auto;
    color: white;
    font-size: 80%;
}

.links {
    color: white;
}
.copyright {
    color:white;
    
}
