<div class="container">
    <div class="title">
        <h2>Update details</h2>
    </div>
  <div class="d-flex">
    <form action="" method="">
      <label>
        <span class="fname">Name <span class="required">*</span></span>
        <input type="text" name="fname">
      </label>
      <label>
        <span class="email">Email<span class="required">*</span></span>
        <input type="email" name="lname">
      </label>
      <label>
        <h6>Address</h6>
      </label>
      <label>
        <span>House Number <span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="House number and street name" required>
      </label>
      <label>
        <span>Colony <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>City <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>State <span class="required">*</span></span>
        <input type="text" name="city"> 
      </label>
      <label>
        <span>Pincode <span class="required">*</span></span>
        <input type="tel" name="city"> 
      </label>
      <div class = "updateBtn">
        <button type="button" class="btn btn-primary mybtn" routerLink = '/order'>Update details</button>
      </div>
    </form>
    </div>