<div class="wrapper">
 
  
  
  <div class="content py-md-0 py-3">
      <section id="sidebar">
          <div class="py-3">
              <h5 class="font-weight-bold">Cost</h5>
              <form class="brand">
                  <div class="form-inline d-flex align-items-center py-1"> <label class="tick">0-100<input type="checkbox" value="0-100" > <span class="check"></span> </label> </div>
                  <div class="form-inline d-flex align-items-center py-1"> <label class="tick">100-200 <input type="checkbox" > <span class="check"></span> </label> </div>
                  <div class="form-inline d-flex align-items-center py-1"> <label class="tick">200-300 <input type="checkbox" > <span class="check"></span> </label> </div>
                  <div class="form-inline d-flex align-items-center py-1"> <label class="tick">300-500 <input type="checkbox"> <span class="check"></span> </label> </div>
                  <div class="form-inline d-flex align-items-center py-1"> <label class="tick">Above 500 <input type="checkbox"> <span class="check"></span> </label> </div>
              </form>
          </div>
        
      </section> <!-- Products Section -->
      <section id="products">
          <div class="container py-3">
              <div class="row" >
                  <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1"  *ngFor="let seed of seeds">
                      <div class="card"> <img class="card-img-top" src="assets\onlinethumb.png">
                          <div class="card-body">
                              <h6 class="card-text">{{seed.commonName}}</h6>
                              <div class="card-text">{{seed.seedsDescription}}</div>
                              <div class="card-text">{{seed.seedsCost|currency:'INR'}}</div>
                              <div class="card-text"><a routerLink="/viewSeed/{{seed.pId}}">view</a></div>
                              <div class="row">
                                  <div class="col col-but" style = "display: inline-block; margin-left: 20px;">
                                    <div class = "btn btn-co"><button (click) = "addToCart(seed)"><img src = "assets\cart.jpg"/></button></div>
                                    <div class = "btn-share btn-co"><button (click) = "share(seed.commonName)"><img src = "assets\share.png"/> </button></div>
                                  </div>
                              </div>
                             
                          </div>
                      </div>
                  </div>
                  
              </div>
          </div>
      </section>
  </div>
</div>