<div class="wrapper">

        <section id="products">
            <div class="container py-3">
                <div class="row" >
                    <div class="col-lg-4 col-md-6 col-sm-10 offset-md-0 offset-sm-1"  *ngFor="let planter of planters">
                        <div class="card"> <img class="card-img-top" src="assets\onlinethumb.png">
                            <div class="card-body">
                                <h6 class="card-text">{{planter.commonName}}</h6>
                                <div class="card-text">{{planter.planterCost|currency:'INR'}}</div>
                                <div class="card-text"><a routerLink="/viewPlanter/{{planter.pId}}">view</a></div>
                                <div class="row">
                                    <div class="col col-but" style = "display: inline-block; margin-left: 20px;">
                                      <div class = "btn btn-co"><button (click) = "addToCart(planter)"><img src = "assets\cart.jpg"/></button></div>
                                      <div class = "btn-share btn-co"><button (click) = "share(planter)"><img src = "assets\share.png"/> </button></div>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
   
  </div>